.App {
  background-color: #004358;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100vh;
  width: 100vw;
  vertical-align: middle;
  flex-wrap: wrap;
}

.App-logo {
  font-size: calc(10px + 20vmin);
  pointer-events: none;
}

.App-header {
  min-width: 50vw;
  max-width: 60vw;
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Login-area {
  border-radius: 50px;
  max-height: calc(100vh - 200px);
  display: flex;
  padding: 60px;
  flex-direction: column;
  align-items: center;
  font-size: calc(12px + 2vmin);
  color: #004358;
  background-color: white;
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
}

#Login-titulo {
  font-weight: 500;
  margin: 0;
  padding: 0;
}
.Login-input {
  border-radius: 10px;
  border: 1px solid #BEDB39;
  line-height: calc(12px + 2vmin);
  font-size: calc(10px + 2vmin);
  padding: 4px;
}

.Login-submit {
  border-radius: 15px;
  background-color: #1F8A70;
  color: white;
  font-size: 20px;
  padding: 10px 30px;
  margin: 10px 0px;
  cursor: pointer;
  border: 0;
}

.App-link {
  color: #61dafb;
}